[user]
	email = moritz@zendri.com
	name = Moritz
	signingKey = D0763AA52FFFF97AB34F33E0EE52A4F98F6138E8
[gpg]
	program = gpg2
[commit]
	forceSignAnnotated = null
	gpgSign = true
[tag]
	forceSignAnnotated = null
